<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Users</title>
</head>
<body>
    <section>
        <header>
            <h1>Gerenciamento de Usuários</h1>
            <button type="button">Novo Usuário</button>
        </header>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ana Silva</td>
                    <td>ana.silva@email.com</td>
                    <td>Editor</td>
                    <td>Ativo</td>
                    <td>
                        <a href="#">Editar</a>
                        <a href="#">Excluir</a>
                    </td>
                </tr>

                <tr>
                    <td>Marcos Oliveira</td>
                    <td>marcos.o@email.com</td>
                    <td>Admin</td>
                    <td>Pendente</td>
                    <td>
                        <a href="#">Editar</a>
                        <a href="#">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>